/* =======================================
    src/css/layout/footer.css
    Footer Layout
========================================== */
.footer {
    border-top: var(--border-default);
}

@media (max-width: 479px) {
    .footer__stats.d-flex {
        flex-direction: column !important;
        gap: var(--space-2);
    }
}
