# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main
server/main

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go specific
.gocache/
vendor/
go.work
go.work.sum

# Environment & Secrets
.env
*.pem
*.key

# Data & Databases
*.db
*.sqlite
server/data/geoip/*.mmdb

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
Thumbs.db
.DS_Store

# Logs
*.log
server/err.txt
server/data/imap-history/
server/internal/modules/imap-migrator/service/data/
